//Article full display
.article-full {
  line-height: 1.6;
}

.article-full .lead {
  line-height: 1.2;
}

.article-full .media {
  margin: rem-calc(25 0 7 0);
}

.article-full .byline .caption {
  float: right;
  width: 290px;
}

// Embedded media
.embedded-media {
  margin: 0 0 30px 0;
}

.embedded-media h4 {
  margin-bottom: 3px;
}

.embedded-media figcaption {
  margin-top: 3px;
  color: #83837f;
  font: italic normal rem-calc(13) 'PT Serif', serif;
}

// Opinion page author head shot
.author {
  margin: 0 rem-calc(15) rem-calc(15) 0;
}

.author img {
  margin: 0 0 rem-calc(7) 0;
}