//Article short display

.article-short {
  line-height: 1.2;
  position: relative;
  cursor: pointer;
  margin-bottom: rem-calc(10);
}

.article-short .position-overlay {
  position: relative;
}

.article-short .lead a {
  color: $primary-color;
}

.article-short h4 {
  margin: rem-calc(10) 0 0 0;
  padding: 0;
  line-height: 1.2;
}

.article-short:hover h4 a,
.article-short:hover h6 a {
  color: $secondary-color;
}

.article-short .category {
  color: #ffffff;
  background: $secondary-color;
  position: absolute;
  top: 0;
  left: 0;
  padding: rem-calc(3);
  font: 700 rem-calc(12) $header-font-family;
  text-transform: uppercase;
}

.article-short .synopsis {
  visibility: hidden;
  position: absolute;
  padding: rem-calc(7);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background-color: $primary-color;
  background: rgba(0, 0, 0, 0.7);
}

.article-short:hover .synopsis {
  visibility: visible;
}

.article-short .synopsis p {
  color: #ffffff;
  font: rem-calc(15) 'PT Sans Narrow', sans-serif;
}

.article-short .synopsis .read-more {
  color: $secondary-color;
  text-transform: uppercase;
  font: rem-calc(15) 'PT Sans Narrow', sans-serif;
}

.article-short .synopsis .read-more:hover {
  color: $secondary-color;
}

.article-short .synopsis .byline {
  position: absolute;
  bottom: rem-calc(7);
  left: rem-calc(7);
  color: #ffffff;
}

.article-short .text-block {
  background: #e5e5e5;
  font-size: 26px;
  padding: rem-calc(10);
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
}

.article-short .text-block a {
  color: $primary-color;
}

.article-short .text-block:hover {
  background: #ebebeb;
}