// Global article styles

// Byline and/or date
.byline,
.byline abbr{
  color: #83837f;
  font: italic normal rem-calc(13) 'PT Serif', serif;
  border-bottom: none;
  cursor: default;
}

// Introductory paragraphs
p.lead {
  font-size: rem-calc(14);
  margin: 0;
  padding: 0;
  line-height: 1.4;
}

// Main image on feature page
.feature-img {
  margin-bottom: rem-calc(7);
}

// Video button overlay. Buttons sizes: default and large
.btn-play,
.btn-play-lrg {
  position: relative;
  cursor: pointer;
}

.btn-play:before,
.btn-play-lrg:before {
  content: "";
  display: block;
  margin: auto;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url("../img/btn-play.png") no-repeat center;
}

.btn-play-lrg:before {
  background: url("../img/btn-play-lrg.png") no-repeat center;
}

.btn-play:hover:before,
.btn-play-lrg:hover:before,
.story-intro:hover .btn-play:before,
.story-intro:hover .btn-play-lrg:before{
  background-color: #5e5e5e;
  background-color: rgba(94, 94, 94, 0.3);
}

// Audio button overlay. Buttons sizes: default and large
.btn-audio,
.btn-audio-lrg {
  position: relative;
  cursor: pointer;
}

.btn-audio:before,
.btn-audio-lrg:before {
  content: "";
  display: block;
  margin: auto;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url("../img/btn-audio.png") no-repeat center;
}

.btn-audio-lrg:before {
  background: url("../img/btn-audio-lrg.png") no-repeat center;
}

.btn-audio:hover:before,
.btn-audio-lrg:hover:before,
.story-intro:hover .btn-audio:before,
.story-intro:hover .btn-audio-lrg:before{
  background-color: #5e5e5e;
  background-color: rgba(94, 94, 94, 0.3);
}


// Home page: article short related news
.article-short-related {
  margin-top: rem-calc(15);
}

.article-short-related ul {
  margin: 0;
  padding-left: 0;
}

.article-short-related ul li {
  list-style-type: none;
  padding: rem-calc(5 0 10 10);
  border-top: rem-calc(1) dashed #afafaf;
  position: relative;
}

.article-short-related ul li:before {
  content: "•";
  position: absolute;
  top: rem-calc(3);
  left: 0;
}

.article-short-related ul a {
  color: $primary-color;
}

.article-short-related ul a:hover {
  color: $secondary-color;
}