// Custom block grids.
// Block grids give you a way to evenly split contents of a list within the grid.

.block-grid-1-col {
  @include block-grid(
    $per-row: 1,
    $spacing: rem-calc(13),
    $base-style: true
  );
}

.block-grid-2-col {
  @include block-grid(
    $per-row: 2,
    $spacing: rem-calc(13),
    $base-style: true
  );
}

.block-grid-3-col {
  @include block-grid(
    $per-row: 3,
    $spacing: rem-calc(13),
    $base-style: true
  );
}

.block-grid-4-col {
  @include block-grid(
    $per-row: 4,
    $spacing: rem-calc(13),
    $base-style: true
  );
}

.custom-panel {
  @include panel(
    $bg: #e5e5e5,
    $padding: rem-calc(10),
    $adjust: false
  );
}