// Featured category page post
.category-splash {
  position: relative;
  margin-bottom: rem-calc(20);
  cursor: pointer;
}

.category-splash h1 {
  line-height: 1;
  position: absolute;
  bottom: rem-calc(10);
  right: rem-calc(20);
  margin: 0;
  font-size: rem-calc(49);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.75);
}

.category-splash h2 {
  color: #fff;
  text-transform: none;
  font-size: rem-calc(22);
}

.category-splash .synopsis {
  position: absolute;
  padding: rem-calc(30) rem-calc(40);
  top: 0;
  bottom: 0;
  left: 0;
  width: rem-calc(276);
  background-color: #000;
  background: rgba(0, 0, 0, 0.7);
}

.category-splash .synopsis.opaque {
  background-color: #000;
  background: rgba(0, 0, 0, 1);
}

.category-splash .synopsis a {
  text-transform: uppercase;
  font-size: rem-calc(10);
  font-weight: bold;
}

.category-splash .synopsis a:hover {
  color: $secondary-color;
}

.category-splash:hover .synopsis {
  background-color: #000;
  background: rgba(0, 0, 0, 1);
}

.category-splash .lead,
.category-splash .lead a,
.category-splash .lead a:hover {
  font-size: rem-calc(14);
  color: #ffffff;
  padding: 0;
  margin-bottom: rem-calc(15);
  line-height: 1.2;
}

.category-splash .byline {
  color: #ffffff;
  font-size: rem-calc(12);
  margin-bottom: rem-calc(10);
}

.category-splash .social-icons {
  color: #fff;
}

