//Comments

.comments {
  margin: rem-calc(20) 0 rem-calc(30) 0;
}

.comments textarea {
  width: rem-calc(460);
  height: rem-calc(100);
  margin-bottom: rem-calc(10);
}

.comments .button {
  margin: 0;
  padding: 0;
  width: rem-calc(58);
  height: rem-calc(31);
  font-weight: bold;
  background-color: $secondary-color;
}

.comments .button:hover {
  background-color: $primary-color;
}