//Contact page

.row.contact h6 {
  font-family: $body-font-family;
}

.contact {
  color: $primary-color;
}

.contact ul {
  margin-left: 0;
}

.contact li {
  list-style-type: none;
  position: relative;
  word-spacing: rem-calc(-1);
}

.contact li:before {
  content: "•";
  position: absolute;
  top: 0px;
  left: rem-calc(-10);
  color: $secondary-color;
}

.contact .tab-narrow {
  display: inline-block;
  width: rem-calc(130);
}

.contact .tab-wide {
  display: inline-block;
  width: rem-calc(145);
}