// Sidebar: Contributors

.contributors {
  margin: 0;
  padding-left: 0;
}

.contributors li {
  list-style-type: none;
  padding: rem-calc(5 0 15 0);
  border-top: rem-calc(1) dashed #afafaf;
  position: relative;
  clear: both;
}

.contributors img {
  margin-right: rem-calc(5);
  margin-bottom: rem-calc(5)
}

.contributors a {
  color: $primary-color;
}

.contributors a:hover {
  color: $secondary-color;
}

.contributors h6 {
  text-transform: uppercase;
  color: $primary-color;
  margin-bottom: 3px;
  font: bold rem-calc(10) "Open Sans", sans-serif;
}