// Global custom styles

body {
  min-width: rem-calc(1011);
}

body.campaign {
  background-color: #f0f0f0;
}

.main {
  background-color: $body-bg;
  padding: rem-calc(20 20 0 20);
  box-sizing: content-box;
  width: 100%;
  max-width: rem-calc(1011);
  margin: 0 auto;
}

.wrapper {
  //margin-bottom: rem-calc(30);
  background-color: $body-bg;
  border-top: rem-calc(19) solid $body-bg;
  border-bottom: rem-calc(30) solid $body-bg;
}

.row {
  max-width: rem-calc(1011);
}

.content {
  max-width: rem-calc(700);
}

.sidebar {
  max-width: rem-calc(300);
}

.full-screen {
  width: 100%;
  background: $primary-color;
}

.content-wide {
  max-width: rem-calc(463);
}

.content-narrow {
  max-width: rem-calc(225);
}

h1,
h2,
h3 {
  text-transform: uppercase;
}

h1,
h1 a,
h1 a:hover {
  color: #ffffff;
}

h2 {
  line-height: 1;
}

h2 a,
h6,
h6 a {
  color: $primary-color;
}

h6 a:hover {
  color: $secondary-color;
}

h6 {
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

h2 span,
h3, h3 a,
h5 {
  color: $secondary-color;
}

h2 a:hover {
  color: $secondary-color;
}

h3 span,
h3 a:hover {
  color: $primary-color;
}

h3 {
  margin: rem-calc(10 0);
}

h4 a {
  color: $primary-color;
}

h4 a:hover {
  color: $secondary-color;
}

.banner-horizontal {
  margin: rem-calc(15 0);
}

small {
  font-size: rem-calc(12);
  font-family: 'PT Serif', serif;
  font-style: italic;
  color: #83837f;
}

hr {
  border: 0;
  height: rem-calc(1);
  border-bottom: rem-calc(1) dashed #afafaf;
  margin: 0;
}