// Footer styles

footer {
  background: $primary-color;
  color: #cccccc;
  padding: rem-calc(30);
  font-size: rem-calc(12);
}

footer a {
  color: #cccccc;
  font-size: rem-calc(12);
  font-weight: bold;
  position: relative;
}

footer a:hover {
  color: #ffffff;
}

footer ul {
  margin: 0;
  padding: 0;
}

footer li {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

footer i {
  font-size: rem-calc(16);
  margin-right: rem-calc(5);
  position: absolute;
  top: rem-calc(-3);
  left: rem-calc(-20);
}

.copyright {
  display: none;
}