// Gallery page slideshow bullets
.slideshow-wrapper .orbit-bullets-container {
  text-align: center;
}

.slideshow-wrapper ol.orbit-bullets {
  margin: 0 auto rem-calc(30) auto;
  overflow: hidden;
  position: relative;
  top: rem-calc(10);
  float: none;
  text-align: center;
  display: block;
}

.slideshow-wrapper ol.orbit-container li {
  display: block;
}

.slideshow-wrapper .orbit-bullets li {
  display: inline-block;
  width: 0.64286rem;
  height: 0.64286rem;
  background: #cccccc;
  float: none;
  margin-right: rem-calc(6);
  -webkit-border-radius: rem-calc(1000);
  border-radius: rem-calc(1000);
}

.orbit-bullets li.active {
  background: $secondary-color;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(360deg); } }

@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg); }

  to {
    -moz-transform: rotate(360deg); } }

@-o-keyframes rotate {
  from {
    -o-transform: rotate(0deg); }

  to {
    -o-transform: rotate(360deg); } }

@keyframes rotate {
  from {
    transform: rotate(0deg); }

  to {
    transform: rotate(360deg); }
}

.slideshow-wrapper .preloader {
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: rotate;
    -moz-animation-duration: 1.5s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -o-animation-name: rotate;
    -o-animation-duration: 1.5s;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear;
    animation-name: rotate;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}