// Header styles. Includes logo, top banner, nav and search icon

.logo {
  //margin-top: rem-calc(20);
  //margin-bottom: rem-calc(12);
  border-bottom: rem-calc(12) solid $body-bg;
  box-sizing: content-box;
  height: rem-calc(90);
  line-height: rem-calc(90);
  background-color: $body-bg;
}

// Sticky nav logo animation
ul.title-area {
  width: 0;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.fixed ul.title-area {
  width: rem-calc(91);
  opacity: inherit;
  visibility: visible;
  overflow: visible;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.fixed ul.title-area a img {
  margin-bottom: rem-calc(5);
}

// Full screen nav has no logo animations
.full-screen ul.title-area {
  visibility: visible;
  width: rem-calc(91);
  opacity: inherit;
}

.top-bar-section ul.left li.selected a {
  background: #343434 !important;
}

// Weather widget link
.top-bar-section ul li.weather {
  width: rem-calc(75);
}

// Search icon. See _search.scss for search form styling
.top-bar-section ul li > a.button.alert {
  width: rem-calc(41);
  height: rem-calc(31);
  background: url(../img/btn-search.png) no-repeat 0 0;
  text-indent: rem-calc(-15000);
  top: rem-calc(13);
}

.top-bar-section ul li > a.button.alert:hover {
  background: url(../img/btn-search.png) no-repeat rem-calc(0 -31);
}

.top-bar-section ul li > a.button.alert:focus {
  background-color: transparent;
}