// Featured home page post
.home-splash {
  position: relative;
  margin-bottom: rem-calc(20);
  cursor: pointer;
}

.home-splash h1 {
  line-height: 1;
}

.home-splash .synopsis {
  position: absolute;
  padding: rem-calc(7);
  bottom: 0;
  left: 0;
  background-color: #000;
  background: rgba(0, 0, 0, 0.7);
}

.home-splash:hover .synopsis {
  background-color: #000;
  background: rgba(0, 0, 0, 1);
}

.home-splash .lead,
.home-splash .lead a,
.home-splash .lead a:hover {
  font-size: rem-calc(15);
  color: #ffffff;
  padding: 0;
  margin-bottom: rem-calc(5);
  line-height: 1.2
}

.home-splash .byline {
  color: #ffffff;
}

.home-splash .category {
  color: #ffffff;
  background: $secondary-color;
  position: absolute;
  top: 0;
  left: 0;
  padding: rem-calc(3 7);
  font: 700 rem-calc(20) $header-font-family;
  text-transform: uppercase;
}

.breaking-news {
  border: 3px solid $secondary-color;
}

