// iWitness call to action and submission form

// Call to action
.row.collapse.iwitness-cta {
  background: #e0e0e0;
  margin-bottom: rem-calc(20);
  padding: rem-calc(10);
}

.iwitness-cta p {
  margin: 0;
}

.iwitness-cta strong {
  font-size: rem-calc(18);
}

.row.collapse.iwitness-cta.prompt {
  background: #b6b3b1;
  color: #fff;
}

.iwitness-cta.prompt p {
  font-weight: bold;
  font-size: rem-calc(13);
  line-height: rem-calc(34);
}

.iwitness-cta.help ul {
  margin-left: rem-calc(25);
}

.iwitness-cta.help strong {
  font-size: rem-calc(14);
}

.iwitness-cta.help h4 {
  font-size: rem-calc(20);
}

// submission form
.iwitness-submission input[type=text] {
  height: rem-calc(32);
  padding: rem-calc(4 0 4 5);
  font-size: rem-calc(12);
  border-radius: 0;
}

.iwitness-submission textarea {
  height: rem-calc(110);
}

.iwitness-submission fieldset {
  border: 0;
  padding: 0;
  margin-bottom: rem-calc(30);
}

.iwitness-submission legend {
  margin-bottom: rem-calc(20);
  font-family: $header-font-family;
  font-size: rem-calc(20);
  font-weight: 700;
}

// submission and cta buttons
a.button.iwitness {
  margin: 0;
  padding: rem-calc(8 13);
  font-weight: bold;
  background-color: $secondary-color;
}

a.button.iwitness:hover {
  background-color: $primary-color;
}

.iwitness-filter a.button.search:hover {
  background-position: 0 0;
}

// filter
.iwitness-filter {
  margin: rem-calc(30 0 10 0);
}

.iwitness-filter input[type=text] {
  height: rem-calc(26);
  padding: rem-calc(4 0 4 5);
  font-size: rem-calc(12);
  border-radius: 0;
}

.iwitness-filter a.button.search {
  width: rem-calc(29);
  height: rem-calc(26);
  padding: 0;
  background: url(../img/btn-search-sml.png) no-repeat 0 -28px;
  text-indent: rem-calc(-15000);
  overflow: hidden;
  margin-left: rem-calc(2);
}

.iwitness-filter a.button.search:hover {
  background-position: 0 0;
}

// Media uploads
.iwitness-uploads {
  border: 1px solid #ccc;
  padding: rem-calc(20);
}

.iwitness-uploads li {
  margin-right: rem-calc(3);
}

.iwitness-uploads .button-group .button {
  font-size: rem-calc(12);
  margin: 0;
  background-color: #7a7b7c;
  font-family: $body-font-family;
  font-weight: bold;
}

.iwitness-uploads p {
  margin: 0;
  font-size: rem-calc(16);
  line-height: rem-calc(25);
}

// Terms and conditions
form .row.collapse.iwitness-terms {
  margin: rem-calc(25 0 50 0);
  line-height: rem-calc(30);
}

