.row.collapse .row.live-blog {
  margin: 0 rem-calc(-15);
}

.row.collapse .row.blog-header {
  margin-top: rem-calc(-20);
  margin-bottom: rem-calc(20);
}

.live-blog-posts {
  padding-top: rem-calc(15);

  p {
    font-size: rem-calc(16);
    line-height: 1.4;
  }
}

.blog-header {
  background-color: $secondary-color;
  border-top: 1px solid $secondary-color;

  h2,
  .byline {
    padding-left: rem-calc(18);
    padding-right: rem-calc(18);
  }

  .blog-title {
    padding-top: rem-calc(18);
    padding-bottom: rem-calc(30);
  }

  .byline {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    margin-bottom: rem-calc(12);
  }

  h2 {
    line-height: 1;
    color: #fff;
  }

  .list-group {
    background-color: #c80a0b;
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      padding: rem-calc(15) rem-calc(15) rem-calc(15) rem-calc(17);
      color: #fff;
      font-size: rem-calc(12);
      font-weight: 700;
      line-height: rem-calc(20);
    }

    li:first-child {
      background-color: #a31e1e;
    }

    li:nth-child(2) {
      background-color: #ba1213;
    }

    i {
      margin-right: rem-calc(10);
      font-size: rem-calc(20);
    }

  }

}

.blog-filter {
  margin: rem-calc(50) 0 rem-calc(30) 0;
  border-bottom: 2px solid #f0f0f0;

  a {
    margin-bottom: -2px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: rem-calc(12);
    font-weight: bold;
    padding-bottom: rem-calc(15);
    color: #9a9a9a;
    font-family: 'Open Sans Condensed', sans-serif;
  }

  a.active {
    border-bottom: 7px solid $secondary-color;
    color: $secondary-color;
  }

  a:hover {
    color: #000;
  }

}

.blog-post {
  position: relative;
  background-color: #f0f0f0;
  padding-top: rem-calc(20);
  margin-bottom: rem-calc(30);

  &.highlight {
    border-top: 7px solid $secondary-color;
  }

  .btn-post-tweet {
    font-size: 16px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #97999a;
    border: 1px solid #97999a;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;

    &:hover {
      color: #1DA1F2;
      border: 1px solid #1DA1F2;
    }

  }
}

.post-content {
  .post-embed {
    margin-bottom: 15px;
  }

  .post-quote {
    border: 0;
    margin: 0 0 20px 25px;
    padding: 0;
    color: lighten(#000, 30%);
    font-size: 16px;
    font-style: italic;
    quotes: "\201C""\201D";
    position: relative;
    line-height: 1.4;

    &:before {
      color: $secondary-color;
      content: open-quote;
      font-family: 'trebuchet ms', verdana, arial;
      font-size: 40px;
      line-height: 30px;
      position: absolute;
      top: 0;
      left: -30px;
    }

    &:first-child {
      display:inline;
    }

  }

}

.blog-post-sidebar {

  p {
    font-size: rem-calc(10);
    margin: 0;

    &:first-child {
      font-weight: bold;
    }
  }
}

.blog-sidebar {
  section {
    border-bottom: 1px dashed #afafaf;
    padding-left: rem-calc(10);
  }

  .share-links {
    margin-top: rem-calc(25);
  }

}

.blog-contributors {
  margin-bottom: rem-calc(15);
  padding-bottom: rem-calc(5);

  h4 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: rem-calc(14);
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    a {
      font-weight: bold;
      color: $secondary-color;
      font-size: rem-calc(12);
      font-family: 'Open Sans', sans-serif;
      font-weight: bold;
      font-style: italic;

      &:hover {
        color: lighten(#000, 50%)
      }

    }
  }
}

.blog-topics {
  margin-bottom: rem-calc(15);
  padding: rem-calc(25) 0 0 0;

  .label {
    margin: 0 rem-calc(7) rem-calc(12) 0;

    &:hover {
      background-color: #f0f0f0;
      cursor: pointer;
    }

    a {
      color: black;
      display: block;
      width: 100%;
      height: 100%;
      padding: rem-calc(6 10 8);
    }

  }

}