#container {
  float: none;
  max-width: rem-calc(700);
  background: #ffffff;
  padding: 0;
  margin: 0 auto;
  margin-bottom: rem-calc(10);
  /* box-sizing: content-box is required to correctly calculate container width and height.
     Only apply content-box to the container. */
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.box {
  margin: 0;
  margin-bottom: rem-calc(10);
  float: left;
}

.box img {
  display: block;
  width: 100%;
}

/* Masonry requires hard pxs for images */
.col1 { width: rem-calc(225); }
.col2 { width: rem-calc(462); }
.col3 { width: rem-calc(700); }
.col1 img { max-width: rem-calc(225); }
.col2 img { max-width: rem-calc(462); }
.col3 img { max-width: rem-calc(700); }


/* Animations for the transition/reordering */
.transitions-enabled.masonry,
.transitions-enabled.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -ms-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
}

.transitions-enabled.masonry {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}

.transitions-enabled.masonry  .masonry-brick {
  -webkit-transition-property: left, right, top;
  -moz-transition-property: left, right, top;
  -ms-transition-property: left, right, top;
  -o-transition-property: left, right, top;
  transition-property: left, right, top;
}

/* Clearfix */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }