.mejs-container {
    margin: 0 0 0 133px;
    height: 25px;
    position: relative;
    background: #fff;
}

.mejs-container.mejs-video {
}
div.figure .mejs-container.mejs-video, div.figure .mejs-container.mejs-audio {
    margin: 0;
    padding-bottom: 45px;
}
.me-plugin {
    position: absolute;
}
.mejs-embed, .mejs-embed body {
    height: 25px;
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
}
.mejs-container-fullscreen {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 1000;
}
.mejs-container-fullscreen .mejs-mediaelement, .mejs-container-fullscreen video {
    width: 100%;
    height: 100%
}

.mejs-background {
    position: absolute;
    top: 0;
    left: 0;
}
.mejs-mediaelement {
    position: absolute;
    top: 0;
    left: 0;
}
.mejs-poster {
    position: absolute;
    top: 0;
    left: 0;
}
.mejs-poster img {
    border: 0;
    padding: 0;
    border: 0;
    display: block;
}
.mejs-overlay {
    position: absolute;
    top: 0;
    left: 0;
}
.mejs-overlay-play {
    cursor: pointer;
}
.mejs-overlay-button {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 223px;
    height: 163px;
    margin: -81px -111px;
    background: url(../img/mediaelement/bigplay.png) top left no-repeat;
    opacity: .75;
    -webkit-transition: opacity .1s linear;
    -moz-transition: opacity .1s linear;
    -ms-transition: opacity .1s linear;
    -o-transition: opacity .1s linear;
    transition: opacity .1s linear;
}
.mejs-overlay:hover .mejs-overlay-button {
    opacity: 1;
}
.mejs-overlay-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    margin: -40px 0 0 -40px;
}
.mejs-overlay-loading span {
    display: block;
    width: 80px;
    height: 80px;
    background: transparent url(../img/mediaelement/loading.gif) center center no-repeat;
}
.mejs-overlay-error {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -40px 0 0 -40px;
    display: block;
    width: 223px;
    height: 163px;
    margin: -81px -111px;
    //background: url(../img/mediaelement/play_error.png) top left no-repeat;
}
.mejs-container .mejs-controls {
    position: absolute;
    background: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    bottom: 0;
    left: 0;
    height: 25px;
    background: #fff;
}
.mejs-container.mejs-video .mejs-controls, div.figure .mejs-container.mejs-audio .mejs-controls {
    padding: 10px 0;
    height: 45px;
    width: 100%;
    background: #eee;
    border: 1px solid #ccc;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    display: block!important;
}
.mejs-container .mejs-controls div {
    list-style-type: none;
    background-image: none;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 32px;
    height: 30px;
    font-size: 11px;
    line-height: 11px;
    background: 0;
    border: 0;
}
.mejs-controls .mejs-button button {
    cursor: pointer;
    display: block;
    font-size: 0;
    line-height: 0;
    text-decoration: none;
    margin: 1px;
    padding: 0;
    position: absolute;
    height: 20px;
    width: 18px;
    border: 0;
    background: url(../img/mediaelement/audio-controls.png) 1px 0 no-repeat;
    -pie-background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
}

.mejs-container.mejs-video .mejs-controls .mejs-button button, div.figure .mejs-container.mejs-audio .mejs-controls .mejs-button button {
    margin-left: 5px;
}
.mejs-controls .mejs-button button:focus,
.mejs-controls .mejs-button button:active {
  border: 0;
}

.mejs-container .mejs-controls .mejs-time {
    height: 17px;
    width: auto;
    padding: 4px 9px 0;
    overflow: hidden;
    text-align: center;
    color: #707070;
}
.mejs-container.mejs-video .mejs-controls .mejs-time {
    display: block;
}
.mejs-container .mejs-controls .mejs-time span {
    font-size: 11px;
    line-height: 12px;
    float: left;
    margin: 1px 2px 0 0;
    width: auto;
}
.mejs-container.mejs-video .mejs-controls .mejs-time span {
    display: block;
}
.mejs-controls .mejs-play button {
}
.mejs-controls .mejs-pause button {
    background-position: 1px -28px;
}
.mejs-controls .mejs-stop button {
    background-position: -112px 0;
}
.mejs-controls div.mejs-time-rail {
    width: 111px;
    padding-top: 5px;
}
div.figure .mejs-controls div.mejs-time-rail {
    width: 368px;
}
.mejs-controls .mejs-time-rail span {
    display: block;
    position: absolute;
    height: 4px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
   //behavior: url(PIE.htc);
}
.accordion .mejs-time-total {
    width: 109px!important;
}
.mejs-controls .mejs-time-rail span {
    width: 109px;
}
.mejs-controls .mejs-time-rail .mejs-time-total {
    margin: 4px 0 0;
    background: #d7d7d7;
    border: 1px solid #b6b6b6;
}
.mejs-controls .mejs-time-rail .mejs-time-loaded {
    background: #bbb;
}
section.on-air .mejs-controls .mejs-time-rail .mejs-time-loaded {
    width: 109px;
}
.mejs-controls .mejs-time-rail .mejs-time-current {
    width: 0;
    background: #333;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px #7a7a7a, 0 1px 0 #d9d9d9;
    -moz-box-shadow: inset 0 1px 1px #7a7a7a, 0 1px 0 #d9d9d9;
    -o-box-shadow: inset 0 1px 1px #7a7a7a, 0 1px 0 #d9d9d9;
    -ms-box-shadow: inset 0 1px 1px #7a7a7a, 0 1px 0 #d9d9d9;
    box-shadow: inset 0 1px 1px #7a7a7a, 0 1px 0 #d9d9d9;
    height: 5px;
}
.mejs-controls .mejs-time-rail .mejs-time-handle, .mejs-controls .mejs-time-rail .mejs-time-handle:hover {
    display: block;
    position: absolute;
    margin: 0;
    width: 16px;
    height: 16px;
    background: url(../img/mediaelement/slider_handle.png) no-repeat 0 0;
    cursor: pointer;
    top: -5px;
    left: -8px;
    text-align: center;
}
.mejs-controls .mejs-time-rail .mejs-time-handle:hover {
    background-position: 0 -16px;
}
.mejs-controls .mejs-time-rail .mejs-time-float {
    position: absolute;
    display: none;
    background: #fff;
    width: 36px;
    height: 17px;
    border: solid 1px #c7c4c4;
    top: -26px;
    margin-left: -20px;
    text-align: center;
    -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, .1);
    -o-box-shadow: 0 1px 6px rgba(0, 0, 0, .1);
    -ms-box-shadow: 0 1px 6px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 6px rgba(0, 0, 0, .1);
}
.mejs-controls .mejs-time-rail .mejs-time-float-current {
    margin: 2px;
    width: 30px;
    display: block;
    text-align: center;
    left: 0;
}
.mejs-controls .mejs-time-rail .mejs-time-float-corner-border {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    line-height: 0;
    border: solid 5px #c7c4c4;
    border-color: #c7c4c4 transparent transparent transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    top: 17px;
    left: 13px;
}
.mejs-controls .mejs-time-rail .mejs-time-float-corner {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    line-height: 0;
    border: solid 5px #fff;
    border-color: #fff transparent transparent transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    top: 16px;
    left: 13px;
}
.mejs-controls .mejs-fullscreen-button button {
    background-position: -32px 0;
}
.mejs-controls .mejs-unfullscreen button {
    background-position: -32px -16px;
}
.mejs-controls .mejs-mute button {
    height: 30px;
    width: 20px;
    background-position: -29px 10px;
    margin-top: -10px;
}
.mejs-controls .mejs-unmute button {
    height: 30px;
    width: 18px;
    background-position: -29px -18px;
    margin-top: -10px;
}
.mejs-controls .mejs-volume-button {
    position: relative;
}
.mejs-controls .mejs-volume-button .mejs-volume-slider {
    display: none;
    height: 116px;
    width: 26px;
    background: #eee;
    border: 1px solid #ccc;
    -webkit-border-radius: 1px 1px 0 0;
    -moz-border-radius: 1px 1px 0 0;
    -o-border-radius: 1px 1px 0 0;
    -ms-border-radius: 1px 1px 0 0;
    border-radius: 1px 1px 0 0;
    top: -128px;
    left: 0;
    z-index: 1;
    position: absolute;
    margin: 0;
}
.mejs-controls .mejs-volume-button:hover {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -o-border-radius: 0 0 4px 4px;
    -ms-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}
.mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-total {
    position: absolute;
    left: 10px;
    top: 6px;
    width: 4px;
    height: 100px;
    background: #ddd;
    margin: 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #b6b6b6;
}
.mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-current {
    position: absolute;
    left: 11px;
    top: 8px;
    width: 4px;
    height: 100px;
    background: #bbb;
    margin: 0;
    border-radius: 10px;
}
.mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-handle {
    position: absolute;
    left: 5px;
    top: 5.5px;
    width: 14px;
    height: 5px;
    background: #fff;
    cursor: N-resize;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -o-border-radius: 1px;
    -ms-border-radius: 1px;
    border-radius: 0;
    margin: 0;
    -webkit-box-shadow: inset 0 -1px 5px #ddd, 0 1px 2px #999;
    -moz-box-shadow: inset 0 -1px 5px #ddd, 0 1px 2px #999;
    -o-box-shadow: inset 0 -1px 5px #ddd, 0 1px 2px #999;
    -ms-box-shadow: inset 0 -1px 5px #ddd, 0 1px 2px #999;
    box-shadow: inset 0 -1px 5px #ddd, 0 1px 2px #999;
    border: 1px solid #bbb;
}
.mejs-controls .mejs-captions-button {
    position: relative;
}
.mejs-controls .mejs-captions-button button {
    background-position: -48px 0;
}
.mejs-controls .mejs-captions-button .mejs-captions-selector {
    visibility: hidden;
    position: absolute;
    bottom: 26px;
    right: -10px;
    width: 130px;
    height: 100px;
    background: url(../img/mediaelement/background.png);
    background: rgba(50, 50, 50, .7);
    border: solid 1px transparent;
    padding: 10px;
    overflow: hidden;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
}
.mejs-controls .mejs-captions-button .mejs-captions-selector ul {
    margin: 0;
    padding: 0;
    display: block;
    list-style-type: none!important;
    overflow: hidden;
}
.mejs-controls .mejs-captions-button .mejs-captions-selector ul li {
    margin: 0 0 6px 0;
    padding: 0;
    list-style-type: none!important;
    display: block;
    color: #fff;
    overflow: hidden;
}
.mejs-controls .mejs-captions-button .mejs-captions-selector ul li input {
    clear: both;
    float: left;
    margin: 3px 3px 0 5px;
}
.mejs-controls .mejs-captions-button .mejs-captions-selector ul li label {
    width: 100px;
    float: left;
    padding: 4px 0 0 0;
    line-height: 15px;
    font-size: 10px;
}
.mejs-controls .mejs-captions-button .mejs-captions-translations {
    font-size: 10px;
    margin: 0 0 5px 0;
}
.mejs-chapters {
    position: absolute;
    top: 0;
    left: 0;
    -xborder-right: solid 1px #fff;
    width: 10000px;
}
.mejs-chapters .mejs-chapter {
    position: absolute;
    float: left;
    background: #222;
    background: rgba(0, 0, 0, .7);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(50, 50, 50, .7)), to(rgba(0, 0, 0, .7)));
    background: -moz-linear-gradient(top, rgba(50, 50, 50, .7), rgba(0, 0, 0, .7));
    background: -o-linear-gradient(top, rgba(50, 50, 50, .7), rgba(0, 0, 0, .7));
    background: linear-gradient(rgba(50, 50, 50, .7), rgba(0, 0, 0, .7));
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr=#323232, endColorstr=#000000);
    overflow: hidden;
    border: 0;
}
.mejs-chapters .mejs-chapter .mejs-chapter-block {
    font-size: 11px;
    color: #fff;
    padding: 5px;
    display: block;
    border-right: solid 1px #333;
    border-bottom: solid 1px #333;
    cursor: pointer;
}
.mejs-chapters .mejs-chapter .mejs-chapter-block-last {
    border-right: none;
}
.mejs-chapters .mejs-chapter .mejs-chapter-block:hover {
    background: #666;
    background: rgba(102, 102, 102, .7);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(102, 102, 102, .7)), to(rgba(50, 50, 50, .6)));
    background: -moz-linear-gradient(top, rgba(102, 102, 102, .7), rgba(50, 50, 50, .6));
    background: -o-linear-gradient(top, rgba(102, 102, 102, .7), rgba(50, 50, 50, .6));
    background: linear-gradient(top, rgba(102, 102, 102, .7), rgba(50, 50, 50, .6));
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr=#666666, endColorstr=#323232);
}
.mejs-chapters .mejs-chapter .mejs-chapter-block .ch-title {
    font-size: 12px;
    font-weight: bold;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0 0 3px 0;
    line-height: 12px;
}
.mejs-chapters .mejs-chapter .mejs-chapter-block .ch-timespan {
    font-size: 12px;
    line-height: 12px;
    margin: 3px 0 4px 0;
    display: none;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.mejs-captions-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    line-height: 22px;
    font-size: 12px;
    color: #fff;
}
.mejs-captions-layer a {
    color: #fff;
    text-decoration: underline;
}
.mejs-captions-layer[lang=ar] {
    font-size: 20px;
    font-weight: normal;
}
.mejs-captions-position {
    position: absolute;
    width: 100%;
    bottom: 15px;
    left: 0;
}
.mejs-captions-position-hover {
    bottom: 45px;
}
.mejs-captions-text {
    padding: 3px 5px;
    background: url(../img/mediaelement/background.png);
    background: rgba(20, 20, 20, .8);
}
.mejs-clear {
    clear: both;
}
.me-cannotplay a {
    color: #fff;
    font-weight: bold;
}
.me-cannotplay span {
    padding: 15px;
    display: block;
}
.mejs-controls .mejs-loop-off button {
    background-position: -64px -16px;
}
.mejs-controls .mejs-loop-on button {
    background-position: -64px 0;
}
.mejs-controls .mejs-backlight-off button {
    background-position: -80px -16px;
}
.mejs-controls .mejs-backlight-on button {
    background-position: -80px 0;
}
.mejs-controls .mejs-picturecontrols-button {
    background-position: -96px 0;
}
.mejs-contextmenu {
    position: absolute;
    width: 150px;
    padding: 10px;
    border-radius: 4px;
    top: 0;
    left: 0;
    background: #fff;
    border: solid 1px #999;
    z-index: 1001;
}
.mejs-contextmenu .mejs-contextmenu-separator {
    height: 1px;
    font-size: 0;
    margin: 5px 6px;
    background: #333;
}
.mejs-contextmenu .mejs-contextmenu-item {
    font-size: 12px;
    padding: 4px 6px;
    cursor: pointer;
    color: #333;
}
.mejs-contextmenu .mejs-contextmenu-item:hover {
    background: #2c7c91;
    color: #fff;
}