
.mega-menu-content{
  @include dropdown-container(
    $content: 'content',
    $triangle: 'true',
    $max-width: rem-calc(1011)
  );
  z-index: 9999;
  background: #e5e5e5;
  padding: rem-calc(15 0);
  border: 0;
  border-left: 1px solid #bcbcbc;
  border-right: 1px solid #bcbcbc;
  border-bottom: 1px solid #bcbcbc;

  &:before {
    @include css-triangle($f-dropdown-triangle-size, #e5e5e5, bottom);
    position: absolute;
    top: -($f-dropdown-triangle-size * 2);
    #{$default-float}: $f-dropdown-triangle-side-offset;
    z-index: 99;
  }
}

.mega-menu-dropdown-content {
  z-index: 9999;
}

.show{
  display: block;
}

.mega-menu-content article {
  margin-bottom: 0;
}

.mega-menu-content .thumb {
  margin-bottom: rem-calc(10);
}

.mega-menu-content .left {
  margin-right: rem-calc(10);
}

.mega-menu-content .block-grid-2-col > li {
  padding-right: rem-calc(15);
  padding-bottom: rem-calc(15);
  margin: 0;
}

.mega-menu-content div.medium-3.columns {
  padding-left: 0;
  padding-right: rem-calc(15);
  padding-left: rem-calc(15);
  margin-right: 0;
}

.mega-menu-content div.medium-6.columns {
  padding: 0;
  margin: 0;
}

.mega-menu-content a.button.tiny.alert {
  background-color: $secondary-color;
  margin: rem-calc(15 0 0 0);
  padding: rem-calc(5 5);
  font-size: rem-calc(11);
  font-weight: bold;
  width: auto;
}

.mega-menu-content a.button.tiny.alert:hover {
  background-color: #7a6e6e;
}

.h4-mega {
  text-transform: uppercase;
}

.h6-mega {
  text-transform: uppercase;
  padding-right: rem-calc(10);
}

.mega-popular {
  list-style-type: none;
  margin: rem-calc(10 0 0 0);
  padding-left: rem-calc(20);
}

.mega-popular li {
  position: relative;
  margin-bottom: rem-calc(7);
  line-height: 1.3;
}

.mega-popular a {
  color: $primary-color;
}

.mega-popular a:hover {
  color: $secondary-color;
}

.mega-popular li:before {
  content: "";
  position: absolute;
  top: rem-calc(5);
  left: rem-calc(-20);
  width: rem-calc(8);
  height: rem-calc(8);
  background: #dc0707;
  -webkit-border-radius: rem-calc(4);
  -moz-border-radius: rem-calc(4);
  -o-border-radius: rem-calc(4);
  -ms-border-radius: rem-calc(4);
  border-radius: rem-calc(4);
}