// Sidebar: Most Popular/People Also Read links

ol.most-popular {
  counter-reset: mycounter;
  margin: 0;
  padding-left: 0;
  line-height: 1.2;
}

ol.most-popular li {
  list-style: none;
  position: relative;
  margin: 0;
  padding: rem-calc(7 8 10 25);
  border-bottom: rem-calc(1) dashed #afafaf;
}

ol.most-popular li:first-child {
  padding: rem-calc(0 8 10 25);
}

ol.most-popular li:last-child {
  border-bottom: 0;
  margin-bottom: rem-calc(10);
}

ol.most-popular li:before {
  content: counter(mycounter);
  counter-increment: mycounter;
  position: absolute;
  top: rem-calc(7);
  left: 0;
  width: rem-calc(20);
  height: rem-calc(20);
  margin-right: rem-calc(8);
  padding-top: rem-calc(1);
  color: #fff;
  background: #dc0707;
  font-weight: bold;
  text-align: center;
  -webkit-border-radius: rem-calc(10);
  -moz-border-radius: rem-calc(10);
  -o-border-radius: rem-calc(10);
  -ms-border-radius: rem-calc(10);
  border-radius: rem-calc(10);
}

ol.most-popular li:first-child:before {
  top: rem-calc(2);
}

ol.most-popular li:first-child a {
  font-weight: 700;
  font-family: $header-font-family;
  font-size: em-calc(18);
}

ol.most-popular li a {
  color: $primary-color;
}

ol.most-popular li a:hover {
  color: $secondary-color;
}