// Multimedia filter
.multimedia-filter {
  margin: rem-calc(20 0 10 0);
}

.multimedia-filter ul {
  margin: 0;
}

.multimedia-filter p {
  margin-right: rem-calc(5);
  position: relative;
  font-size: rem-calc(12);
  font-weight: bold;
  top: rem-calc(3);
}

.button-group li .button {
  margin-right: rem-calc(3);
  border-right: 0;
  padding: rem-calc(5 5 4 5);
  background-color: #aaa;
  color: #fff;
  border: rem-calc(1) solid rgba(52, 73, 94, 0.2);
  font-family: 'PT Sans', sans-serif;
  font-size: rem-calc(12);
}

.button-group li .button:hover,
.button-group li .button.selected {
  background-color: #515151;
  color: #fff;
  border-color: rgba(52, 73, 94, 0.3);
}

.display-filter select,
.display-filter .custom-select,
.display-filter .custom-selectInner {
  width: rem-calc(90);
  margin-left: rem-calc(2);
  height: rem-calc(26);
}

.category-filter select,
.category-filter .custom-select,
.category-filter .custom-selectInner {
  width: rem-calc(110);
  margin-left: rem-calc(7);
  height: rem-calc(26);
}

.display-filter select,
.category-filter select {
  padding: rem-calc(3 0);
  text-indent: 3px;
  line-height: 1;
  -webkit-box-sizing: padding-box;
  -moz-box-sizing: padding-box;
  box-sizing: padding-box;
}

.display-filter select,
.display-filter .custom-select,
.category-filter select,
.category-filter .custom-select {
  font-size: rem-calc(12);
  margin-right: rem-calc(10);
}

.display-filter .custom-selectInner,
.category-filter .custom-selectInner {
  background: #fff url("../img/custom-select.png") no-repeat right center;
  padding: rem-calc(6 0 0 3);
  border: rem-calc(1) solid #bbbbbb;
  height: rem-calc(26);
}

.multimedia-filter input[type=text] {
  height: rem-calc(26);
  padding: rem-calc(4 0 4 5);
  font-size: rem-calc(12);
  border-radius: 0;
}

.multimedia-filter a.button.search {
  width: rem-calc(29);
  height: 26px;
  padding: 0;
  background: url(../img/btn-search-sml.png) no-repeat 0 -28px;
  text-indent: rem-calc(-15000);
  overflow: hidden;
  margin-left: rem-calc(2);
}

.multimedia-filter a.button.search:hover {
  background-position: 0 0;
}