// On Air
.on-air .row.collapse {
  background: #ffffff;
  border-top: rem-calc(1) dashed #afafaf;
  border-bottom: rem-calc(1) dashed #afafaf;
  height: rem-calc(46);
}

.on-air audio {
  width: rem-calc(10);
  display: none;
}

.on-air h4 {
  margin: rem-calc(7 0);
}

.mejs-container {
  margin: 0;
  position: relative;
  top: rem-calc(10);
  left: rem-calc(10);
}

.on-air select {
  padding: rem-calc(0);
  font-weight: normal;
  font-size: 12px;
  margin-left: rem-calc(7);
  height: rem-calc(26);
  margin-top: rem-calc(9);
  text-indent: 4px;
}

.on-air .custom-select  {
  font-size: rem-calc(12);
  margin-top: rem-calc(9);
  height: rem-calc(26);
}

.on-air .custom-selectInner {
  background: #fff url("../img/custom-select.png") no-repeat right center;
  padding: rem-calc(6 0 0 3);
  border: rem-calc(1) solid #bbbbbb;
  margin-left: rem-calc(7);
  height: rem-calc(26);
}