// Quick Vote
.quick-vote p {
  margin-bottom: 10px;
}

.quick-vote input[type="radio"]{
  vertical-align: top;
  margin-top: 4px;
}

.quick-vote label {
  max-width: 240px;
}

.quick-vote .progress {
  margin-top: 3px;
}

.quick-vote .result {
  color: #3b3b3b;
  font-size: 12px;
  padding-top: 4px;
  padding-right: 15px;
}

.quick-vote .button {
  font-size: 12px;
  font-weight: bold;
  padding: 6px 16px;
  background-color: $secondary-color;
  margin-top: 10px;
}

.quick-vote .button:hover {
  background-color: $primary-color;
}