//Search form drop-down
.row .row.collapse.search-form {
  background: #343434;
  padding: rem-calc(15);
  height: rem-calc(62);
  width: rem-calc(300);
}

.search-form input,
.search-form input:focus {
  color: #FFFFFF;
  font-weight: bold;
  background: $primary-color;
  margin: 0;
  top: rem-calc(13);
  height: rem-calc(31);
  border-width: rem-calc(0 0 1 0);
  border-bottom-color: #4a4a4a;
}

.search-form input:focus {
  border-color: #FFFFFF;
}

.search-form .button.alert {
  height: rem-calc(31);
  padding: rem-calc(5 10 0 10);
  font-weight: bold;
  background: $secondary-color;
}

.search-form .button.alert:hover {
  background: #7a6e6e;
}

//404 Page search

.row .row.collapse.error-search {
  margin-top: 30px;
  margin-bottom: 30px;
}

.error-search .button.small {
  padding: 9px 17px 10px 17px;
  margin-left: 10px;
  background: $secondary-color;
}