// Share links

.share-links {
  margin: rem-calc(20 0);
  padding: 0;

  iframe {
    vertical-align: middle;
  }

}

.share-links li {
  list-style-type: none;
  display: inline;
  margin: 0;
  padding: rem-calc(0 10 0 0);
  float: left;
}

.share-links .fb-like {
  margin-left: 17px;
  padding-top: 6px;
}

.share-links a {
  color: #939290;
  font-size: rem-calc(12);
}

.share-links a:hover {
  color: $anchor-font-color-hover;
}

.share-links i {
  position: relative;
  top: rem-calc(3);
  margin-right: rem-calc(3);
  font-size: rem-calc(20);
}

