// Weather Widget

// Meteocons weather icons
// courtesy http://www.alessioatzeni.com/meteocons/
// See /fonts/meteocons-map.png
@font-face {
  font-family: 'MeteoconsRegular';
  src: url('../fonts/meteocons-webfont.eot');
  src: url('../fonts/meteocons-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/meteocons-webfont.woff') format('woff'),
  url('../fonts/meteocons-webfont.ttf') format('truetype'),
  url('../fonts/meteocons-webfont.svg#MeteoconsRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: 'MeteoconsRegular';
  content: attr(data-icon);
  font-style: normal;
  margin-right: rem-calc(3);
  line-height: 0.8;
}

.row .row.collapse.weather-widget {
  width: rem-calc(318);
  font-family: 'PT Sans Narrow', sans-serif;
}

.weather-widget header {
  height: rem-calc(62);
  background: #343434;
  color: $price-title-color;
  padding-top: rem-calc(5);
}

.weather-widget header .columns {
  padding-right: 0;
}

.weather-widget header i {
  position: relative;
  top: rem-calc(-22);
  font-size: rem-calc(20);
}

.weather-widget header .hi-temp {
  font-size: rem-calc(52);
  letter-spacing: rem-calc(-1.5);
  font-weight: bold;
}

.weather-widget header .lo-temp {
  color: #898885;
  font-size: rem-calc(15);
  letter-spacing: rem-calc(-1);
  font-weight: bold;
}

.city-select {
  position: relative;
  top: rem-calc(12);
  display: inline-block;
  padding-right: rem-calc(10);
}

.city-select select,
.city-select .custom-select,
.city-select .custom-selectInner {
  width: rem-calc(115);
}

.city-select select {
  padding: rem-calc(15 10 15 10);
}

.city-select select,
.city-select .custom-select  {
  font-size: rem-calc(13);
  margin-right: rem-calc(10);

}

.city-select .custom-selectInner {
  background: #343434 url("../img/icon-select.png") no-repeat rem-calc(95 8);
  padding: rem-calc(6 0 0 3);
  border: 0;
  border-right: rem-calc(1) solid grey;
  height: rem-calc(26);
  text-transform: uppercase;
}

.forecast  {
  @include pricing-table-container;
  .day  {
    @include pricing-table-title;
    text-transform: uppercase;
    border: rem-calc(1) solid #000;
  }
  .lo-temp  {
    @include pricing-table-price;
    border: rem-calc(1) solid #000;
  }
  .icon   {
    @include pricing-table-description;
    border: rem-calc(1) solid #000;
  }
  .hi-temp {
    @include pricing-table-bullet;
    border: rem-calc(1) solid #000;
  }
}

.forecast.today li {
  background: #343434;
  border: rem-calc(1) solid #343434;
}