.loadmask { z-index: 10000; position: absolute; background-color: #ddd; zoom: 1; }
.loadmask-msg { z-index: 20001; position: absolute; top: 0; left: 0; background: #fff; padding: 7px 15px; border:1px solid #ccc; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.loadmask-msg div { line-height: 16px; color:#222; font:normal 11px tahoma, arial, helvetica, sans-serif; padding: 2px 0 2px 0px; }
.loadmask-msg div.loading { background: #fbfbfb url('./ajax-loader.gif') no-repeat center left; cursor:wait; padding: 2px 0 2px 25px; }
.masked { overflow: hidden !important; }
.masked-relative { position: relative !important; }
.masked-hidden { visibility: hidden !important; }