﻿section.quick-vote div.row label {
    width:236px;
}

.template-upload, .template-download {
    background:white !important;
}

.template-upload td.start button,
.template-upload td.cancel button,
.template-download td.delete button
 {
    width:90px;
    font-size: 0.85714rem;
    margin: 0;
    padding:8px;
    background-color: #7a7b7c;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.template-download td.delete {
    margin-left:6px;
}

.template-download .name {
    width:90px;
    font-size: 0.85714rem;
    margin: 0;
    padding:8px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

table.table.table-striped {
    padding-bottom:10px;
}

tbody.files,
.table.table-striped,
.template-upload {
    width:700px;
}

.template-upload td, .template-download .size,
.template-download .delete {
    padding: 24px 6px 0;
    text-align: right;
    color: #959191;
    font-size: 11px;
}

.template-upload .name, .template-download .name {
    max-width: 156px;
    text-align: left;
    word-wrap: break-word;
}
 
.template-upload .size, .template-download .size {
    max-width: 110px;
    width:110px;
}

aside.row.collapse.iwitness-cta a {
    color:black;
}

aside.row.collapse.iwitness-cta a:hover, aside.row.collapse.iwitness-cta a:focus {
    color: #dc0707;
}

.row.collapse.iwitness-cta {
    margin-bottom: 1.42857rem !important;
}


.authorheader {
    text-align: justify;
    line-height: 18px;
}

h4.contributorarticlesheader {
    font-size:24px;
}

section.contributorarticles article {
    border-bottom: 1px solid #d9d9d9;
}

section.contributorarticles article p {
    margin-bottom: 4px;
}

section.contributorarticles article h3 {
    margin-bottom: -0px;
    font-size:17px;
}

section.contributorspage .article-short-related ul li:before {
    content: "" !important;
}

.article-short .text-block {
    color: #1a1a1a;
}

p.lead {
    color: #1a1a1a;
}

a.termsconditionslink {
    color: #cccccc;
    font-weight: bold;
    text-transform: uppercase;
}

a.termsconditionslink:hover {
    color: #fff;
}

.copyright {
    background: #000000;
    color: #cccccc;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    display: block;
    padding-left: 2.14286rem;
    padding-bottom: 1.14286rem;
}

section.related-stories div#pagination ul {
    display: block;
    height: 1.71429rem;
    margin-left: -0.35714rem;
    margin-top: 3.57143rem;
    float: right !important;
}

section.related-stories div#pagination ul li {
    float: left;
    display: block;
    height: 1.71429rem;
    color: #222;
    font-size: 1rem;
    margin-left: 0.35714rem;
}

section.related-stories div#pagination ul li.link {
    display: block;
    padding: 0.07143rem 0.71429rem 0.07143rem;
    color: #5c5c5c;
    border-radius: 3px;
}

section.related-stories div#pagination ul li.active {
    background: #dc0707;
    color: #fff;
    font-weight: bold;
    cursor: default;
}

section.related-stories div#pagination ul li span.prev {
    display: block;
    width: 16px;
    margin: 0;
    padding: 2px 3px;
    background: url(/site/design/img/slider_nav.gif);
    background-repeat: no-repeat;
    text-indent: -9999px;
    background-position: 8px 8px;
}

section.related-stories div#pagination ul li span.prev:hover,
section.related-stories div#pagination ul li.next:hover {
    background-color: #ccc;
}

section.related-stories div#pagination ul li:hover {
    background: #000000;
    color: #fff;
}

section.related-stories div#pagination ul li.active:hover {
    background: #000000;
}

section.related-stories div#pagination ul li.next {
    display: block;
    width: 16px;
    margin: 0;
    padding: 2px 3px;
    background: url(/site/design/img/slider_nav.gif);
    background-repeat: no-repeat;
    text-indent: -9999px;
    background-position: -10px 8px;
}

section.related-stories article {
    height:100px;
    margin-top:10px;
    border-bottom: 1px solid #d9d9d9;
}

section.related-stories article a h3 {
    font-size: 17px;
    margin: 8px 0 0 148px;
    width: 538px;
    position: relative;
    left: -140px;
    display: initial;
    top: -31px;
}

section.related-stories article div.body {
    margin-left: 149px;
    top: -60px;
    position: relative;
}

section.related-stories article div.body p {
    margin-bottom:0px;
}

section.related-stories article div.body p em {
    color: rgb(146, 146, 146);
    font-size: 11px;
}

.st_sharethis_custom {
    background-position: 0 -23px;
}

.st_sharethis_custom {
    padding: 5px 0 5px 25px;
    display: block;
    cursor: pointer;
    color: #535351;
    text-decoration: none;
    background-image: url(/images/article_aside_icons.png);
    background-repeat: no-repeat;
    background-position: 0 -21px;
}

aside.bottom ul li.share {
    width: 73px;
    padding: 3px 0 0 0;
}

section.story aside.bottom {
    width: 100%;
    height: 35px;
}

section.story aside.bottom ul li.recommend {
    margin: 7px 0;
}

section.story aside.bottom ul li {
    float: left;
    display: block;
}

section.story aside.bottom ul {
    padding: 0;
    margin: 0;
    border-top: 1px solid #a2a2a2;
}

#container-wrap aside.bottom {
    margin-top: 15px;
}

article.galleryarticle ul.share-links {
    margin-top:-14px;
}

section.searchresults div.medium-2.columns.display-filter {
    float:right;
}

section.searchresults .searchfilters {
    width:152px;
    margin-left:-32px;
}

section.searchresults .orderbylabel {
    margin-left:74px;
    width:70px;
}

section.searchresults .orderby-filter {
   margin-left:-30px;
}

section.searchresults .searchtext {
   width:261px;
}

span.mobilename {
    position: relative;
    top: 3px;
    color: #4d4d4d;
}

a.mobilename:hover span {
    color: #dc0707;
}

#rss-feeds article ul {
    margin: 0;
    padding: 8px 0;
    width: 343px;
}

#rss-feeds article ul li {
    list-style: none;
    background: url(/site/design/img/rss_small.png) no-repeat 0 6px;
}

#rss-feeds article ul li:hover {
    background-position: 0 -26px;
}

#rss-feeds article ul li a {
    display: block;
    padding: 6px 0 6px 24px;
}

#rss-feeds article {
    zoom: 1;
}

#rss-feeds aside.info {
    background: #e9e9e9;
    padding: 10px 16px;
    margin-top: 12px;
}


.subscribe-breaking-news h2 {
    font-size: 26px;
    margin-top: 0;
    line-height: 1.431em;
}

.subscribe-breaking-news b
{
    font-size: 14px;
    color: #707070;
    font-weight: normal;
}

.subscribe-breaking-news h3 {
    font-weight: normal;
    margin-top: 8px;
    font-size: 17px;
    color: #000000;
    text-transform:none;
    font-family: 'Open Sans', sans-serif;
}

.subscribe-breaking-news aside.info, section#traffic aside.info {
    background: #e9e9e9;
    padding: 10px 16px;
    margin-top: 12px;
}

.slideshow-wrapper {
    width:700px;
}

.contact li:before {
    content: "•" !important
}

.article-short-related ul li:before {
    content: "•" !important
}

div.wrapper-fullscreen {
    margin-top: 19px;
}

div.full-screen header {
    height:58px;
}

.pagination .prev,
.pagination .next,
.pagination .prev:hover,
.pagination .next:hover {
    display: block;
    width: 16px;
    margin: 0;
    padding: 2px 3px;
    background: url(/site/design/img/slider_nav.gif);
    background-repeat: no-repeat;
}

.pagination .prev:hover,
.pagination .next:hover {
    background-color: #ccc;
}

.pagination .prev, .pagination .prev:hover {
    text-indent: -9999px;
    background-position: 8px 8px;
}

.pagination .next, .pagination .next:hover {
    text-indent: -9999px;
    background-position: -10px 8px;
}


div.media .mejs-controls div.mejs-time-rail {
  width: 665px;
  padding-top: 5px; }

div.media div.figure .mejs-controls div.mejs-time-rail {
  width: 665px; }

div.media .accordion .mejs-time-total {
  width: 665px !important; }

div.media div.mejs-controls {
    bottom: -25px !important;
}

div.media div.mejs-container.mejs-audio {
    margin-bottom: 35px;
}

div.media .home-splash div.synopsis, section.homepagefeatured .home-splash div.synopsis {
    width :100%;
}

div.media .mejs-container {
    top:0px;
    left:0px;
}

div.leaderboard {
    height: 89px;
    float:right
}

abbr.timeago {
    border-bottom: none;
    color: white;
}

abbr.byline {
  color: #83837f;
  font: italic normal 0.92857rem "PT Serif", serif;
}

.no-margin-bottom {
    margin-bottom:0px;
    border-bottom: 0px;
}

#tellafriend_form input.std_input, #tellafriend_form textarea {
    width: 332px;   
    float: none;
}
#tellafriend_form input.std_input {
    margin-bottom: 8px;
}

#tellafriend_form input.std_input, #tellafriend_form textarea {
        border: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    float: left;
    background: #C4C0C0;
    padding: 9px;
    outline: none;
    font-size: 14px;
    color: white;
    width: 150px;
}
#tellafriend_form textarea {
    height: 80px;
}
#tellafriend_form input.std_input, #tellafriend_form textarea {
    width: 332px;
    float: none;
}

 #tellafriend_form a.form_but {
    float: right;
}

#tellafriend_form a.form_but {
    margin: 0;
    padding: 9px 20px;
    font-size: 14px;
    color: #fff;
    border: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    float: left;
    background-color: #DB1010;
}

.tweetbutton {
    position: relative;
    top: 8px;
    margin-right: -30px !important;
}

.byline2 {
    position: relative;
    top: -10px;
}

.screen-reader-text {
text-indent: -9999px;
position: absolute;
height: 0;
}

.scLooseFrameZone.scEnabledChrome {
    width:100%;
}