nav ul.left {
  line-height: 2.3; }

nav ul.left li a {
  padding-right: 10px;
  padding-left: 10px; }

ul.title-area {
  display: none !important; }

#main-nav ul.title-area {
  display: block; }

.mega-menu-content:before {
  display: none; }

.weather-widget header .hi-temp {
  font-size: 2.8em !important; }

aside.sidebar, div.content-narrow {
  margin-left: 12px; }

div.byline, article.article-short .category {
  font-family: Arial, sans-serif; }

div.byline abbr {
  color: #83837f;
  font-family: Arial, sans-serif;
  border-bottom: none;
  cursor: default; }

.embedded-media figcaption {
  font-family: Arial, sans-serif !important; }

.contact .tab-narrow, .contact .tab-wide {
  padding-left: 7px; }

ul.block-grid-3-col li .article-short, ul.block-grid-4-col li .article-short {
  min-height: 226px; }

select {
  padding: 0px !important;
  height: auto !important; }

.article-short .synopsis p {
  color: #ffffff;
  font: 14px 'PT Sans Narrow', sans-serif;
  margin-bottom: 3px; }

.city-select select, .city-select .custom-select, .city-select .custom-selectInner {
  width: 125px !important;
  font-size: 10px !important; }

.city-select span.custom-selectInner {
  background: #343434 url("../img/icon-select.png") no-repeat 110px 8px !important; }

.comments .button {
  height: 31px !important; }
