@media print {
  html, body {
    height: 99%; } }

.logo {
  margin-bottom: 25px;
  border-bottom: 2px solid black; }

.logo .right, .sticky, .share-links, .more-in-category, .comments, .pagination, .sidebar, .embedded-media.audio-video, footer, .content-narrow {
  display: none; }

.byline {
  margin-bottom: 30px; }

.article-full .byline .caption {
  float: none;
  display: block;
  width: auto; }

.content, .content-wide {
  max-width: 100%; }

.orbit-container .orbit-slides-container li .orbit-caption {
  postition: absolute;
  padding: 0;
  bottom: -30px;
  font: italic normal rem-calc(13) 'PT Serif', serif; }

.copyright {
  display: block;
  padding-top: 3px;
  border-top: 2px solid #333333; }
